.navButtons {
  background-color: rgba(255, 241, 47, 0.87);
  border-radius: 6px;
  border-style: 3px solid black;
  width: 6vw;
  height: 3vh;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 10px;
}

.navButtons :hover{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}