.navButtons {
  background-color: rgba(255, 241, 47, 0.87);
  border-radius: 6px;
  width: 5vw;
  height: 2vh;
  text-decoration: none;
  font-family:"Poppins", sans-serif;
  font-weight: 600;
  margin: 10px;
}
