body {
  background-image: url("../assets/backpack-pngrepo-com.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: rgba(23, 93, 0, 0.359);
  overflow-x: hidden;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#backpackTitle {
  margin-top: -3vh;
  margin-bottom: 24vh;
  font-family: "Poppins", sans-serif;
  font-weight: 00;
  background-color: rgba(255, 241, 47, 0.87);
  width: 20vw;
  border-radius: 6px;
  border-style: 4px solid black;
  text-decoration: none;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

#backpackDescription {
  margin-bottom: 1.5vh;
  font-family: "Poppins", sans-serif;
  color: antiquewhite;
}

#InputFieldsBackground {
  background-color: #bff5d3;
}

