body {
  background-image: url("../assets/backpack-pngrepo-com.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

/*
//Green Background gradient:

  background: rgb(0, 120, 8);
  background: radial-gradient(
    circle,
    rgba(0, 120, 8, 0.7483368347338936) 8%,
    rgba(0, 237, 131, 1) 85%
  );

*/
.flexContainer{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}


#backpackTitle {
  margin-top: -4vh;
  margin-bottom: 24vh;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  background-color: rgba(255, 241, 47, 0.87);
  width: 20vw;
  border-radius: 6px;
  border-style: 4px solid black;
  text-decoration: none;
  margin: 10px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

}

#backpackDescription {
  margin-bottom: 1vh;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  overflow: hidden;
}