body {
  background-image: url("../assets/backpack-pngrepo-com.png");
  background-repeat: no-repeat;
  background-position: 50%;
}

/*
//Green Background gradient:

  background: rgb(0, 120, 8);
  background: radial-gradient(
    circle,
    rgba(0, 120, 8, 0.7483368347338936) 8%,
    rgba(0, 237, 131, 1) 85%
  );
*/
#backpackTitle {
  margin-top: -4vh;
  margin-bottom: 24vh;;
  
}

#backpackDescription{
margin-bottom: 10vh;
}